.mainsection{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    background-image: url("../Assets/shopping2.jpg");
    background-size: cover;
    background-position: center;
    height:fit-content;
    min-height: 100vh;
    width:100%;
    /* color: whitesmoke; */
}
.product-image {
    width: 200px; /* or any other fixed width value */
    height: 200px;
  }
